@page "/companystructures/create"
@using CompanyExpenses.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using CompanyExpenses.Domain
@implements IAsyncDisposable
@inject IDbContextFactory<CompanyExpenses.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Создать</PageTitle>

<h1>Создать</h1>

<h2>Подразделение Компании</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<EditForm method="post" Model="CompanyStructure" OnValidSubmit="AddCompanyStructure" FormName="create" Enhance>
			<DataAnnotationsValidator />
			<ValidationSummary class="text-danger" role="alert" />
			<div class="mb-3">
				<label for="parentid" class="form-label">@(parent is null ? string.Empty : "Родительское подразделение:")</label>
				<input id="parentid" value="@(parent is null ? "Это верхний уровень" : parent?.Name)" class="form-control" disabled />
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Новое подразделение:</label>
				<InputText id="name" @bind-Value="CompanyStructure.Name" class="form-control" />
				<ValidationMessage For="() => CompanyStructure.Name" class="text-danger" />
			</div>
			<button type="submit" class="btn btn-primary">Создать</button> |
			<a href="/companystructurestree">Назад</a>
		</EditForm>
	</div>
</div>

@code {
	[SupplyParameterFromQuery]
	public string? ParentId { get; set; }

	[SupplyParameterFromForm]
	private CompanyStructure CompanyStructure { get; set; } = default!;

	private ApplicationDbContext context = default!;
	private CompanyStructure? parent;


	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();
		parent = context.CompanyStructure.FirstOrDefault(e => e.Id == ParentId);
		CompanyStructure ??= new()
		{
			Id = Guid.CreateVersion7().ToString(),
			ParentId = ParentId
		};
	}

	// To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
	private async Task AddCompanyStructure()
	{
		context.CompanyStructure.Add(CompanyStructure);
		await context.SaveChangesAsync();
		NavigationManager.NavigateTo("/companystructurestree");
	}

	public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
