@page "/companystructures/edit"
@using CompanyExpenses.Data
@using Microsoft.EntityFrameworkCore
@using CompanyExpenses.Domain
@implements IAsyncDisposable
@inject IDbContextFactory<CompanyExpenses.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Изменить</PageTitle>

<h1>Изменить</h1>

<h2>Подразделение Компании</h2>
<hr />
@if (CompanyStructure is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="CompanyStructure" OnValidSubmit="UpdateCompanyStructure" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="CompanyStructure.Id" value="@CompanyStructure.Id" />
                <div class="mb-3">
                    <label for="parentid" class="form-label">@(parent is null ? string.Empty : "Родительская статья:")</label>
                    <input id="parentid" value="@(parent is null ? "Это верхний уровень" : parent?.Name)" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="CompanyStructure.Name" class="form-control" />
                    <ValidationMessage For="() => CompanyStructure.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button> |
                <a href="/companystructurestree">Назад</a>  
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    [SupplyParameterFromForm]
    private CompanyStructure? CompanyStructure { get; set; }

    private ApplicationDbContext context = default!;
    private CompanyStructure? parent;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();

        CompanyStructure ??= await context.CompanyStructure.FirstOrDefaultAsync(m => m.Id == Id);

        if (CompanyStructure is null)
        {
            NavigationManager.NotFound();
        }

        parent = context.CompanyStructure.FirstOrDefault(e => e.Id == CompanyStructure!.ParentId);
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCompanyStructure()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(CompanyStructure!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CompanyStructureExists(CompanyStructure!.Id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/companystructurestree");
    }

    private bool CompanyStructureExists(string id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.CompanyStructure.Any(e => e.Id == id);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
