@page "/expenseitems/create"
@using CompanyExpenses.Data
@using Microsoft.EntityFrameworkCore
@using CompanyExpenses.Domain
@implements IAsyncDisposable
@inject IDbContextFactory<CompanyExpenses.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Создать</PageTitle>

<h1>Создать</h1>

<h2>Статью Расходов</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<EditForm method="post" Model="ExpenseItem" OnValidSubmit="AddExpenseItem" FormName="create" Enhance>
			<DataAnnotationsValidator />
			<ValidationSummary class="text-danger" role="alert" />
			<div class="mb-3">
				<label for="parentid" class="form-label">@(parent is null ? string.Empty : "Родительская статья:")</label>
				<input id="parentid" value="@(parent is null ? "Это верхний уровень" : parent?.Name)" class="form-control" disabled />
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Новая статья:</label>
				<InputText id="name" @bind-Value="ExpenseItem.Name" class="form-control" />
				<ValidationMessage For="() => ExpenseItem.Name" class="text-danger" />
			</div>
			<button type="submit" class="btn btn-primary">Создать</button> |
			<a href="/expenseitemstree">Назад</a>
		</EditForm>
	</div>
</div>

@code {
	[SupplyParameterFromQuery]
	public string? ParentId { get; set; }

	[SupplyParameterFromForm]
	private ExpenseItem ExpenseItem { get; set; } = default!;

	private ApplicationDbContext context = default!;
	private ExpenseItem? parent;


	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();
		parent = context.ExpenseItems.FirstOrDefault(e => e.Id == ParentId);
		ExpenseItem ??= new()
		{
			Id = Guid.CreateVersion7().ToString(),
			ParentId = ParentId
		};
	}

	// To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
	private async Task AddExpenseItem()
	{
		context.ExpenseItems.Add(ExpenseItem);
		await context.SaveChangesAsync();
		NavigationManager.NavigateTo("/expenseitemstree");
	}

	public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
