@page "/expenseitems/delete"
@using CompanyExpenses.Common
@using CompanyExpenses.Components.Common.TreeViewComponent
@using CompanyExpenses.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using CompanyExpenses.Domain
@implements IAsyncDisposable
@inject IDbContextFactory<CompanyExpenses.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p class="text-danger">Вы увеены, что хотите удалить? Удалятся и все дочерние!</p>
<div>
	<h2>Статью Затрат</h2>
	<hr />
	@if (expenseItem is null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		<dl class="row">
			<dt class="col-sm-2">Родительская статья</dt>
			<dd class="col-sm-10">@(parent is null ? "Это верхний уровень" : parent?.Name)</dd>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">Статья Затрат</dt>
			<dd class="col-sm-10">@expenseItem.Name</dd>
		</dl>
		<EditForm method="post" Model="expenseItem" OnValidSubmit="DeleteExpenseItem" FormName="delete" Enhance>
			<button type="submit" class="btn btn-danger" disabled="@(expenseItem is null)">Удалить</button> |
			<a href="/expenseitemstree">Назад</a>
		</EditForm>
	}
</div>

@code {
	[SupplyParameterFromQuery]
	private string? Id { get; set; }

	private ApplicationDbContext context = default!;
	private List<ExpenseItem>? expenseItems;
	private ExpenseItem? expenseItem;
	private ExpenseItem? parent;
	private List<ExpenseItem>? children;

	protected override async Task OnInitializedAsync()
	{
		context = DbFactory.CreateDbContext();

		expenseItem = await context.ExpenseItems.FirstOrDefaultAsync(m => m.Id == Id);

		if (expenseItem is null)
		{
			NavigationManager.NotFound();
		}

		parent = context.ExpenseItems.FirstOrDefault(e => e.Id == expenseItem!.ParentId);

		expenseItems = await context.ExpenseItems.ToListAsync();

		if (expenseItems?.Count == 0)
		{
			NavigationManager.NotFound();
		}

		children = TreeHelper.GetDescendantsOf(expenseItem!, expenseItems!);
	}

	private async Task DeleteExpenseItem()
	{
		if (children?.Count > 0)
			context.ExpenseItems.RemoveRange(children);
		context.ExpenseItems.Remove(expenseItem!);
		await context.SaveChangesAsync();
		NavigationManager.NavigateTo("/expenseitemstree");
	}

	public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
