@page "/expenseitems/details"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using CompanyExpenses.Domain
@inject IDbContextFactory<CompanyExpenses.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ExpenseItem</h2>
    <hr />
    @if (expenseitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ParentId</dt>
            <dd class="col-sm-10">@expenseitem.ParentId</dd>
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@expenseitem.Name</dd>
        </dl>
        <div>
            <a href="@($"/expenseitems/edit?id={expenseitem.Id}")">Edit</a> |
            <a href="@($"/expenseitems")">Back to List</a>
        </div>
    }
</div>

@code {
    private ExpenseItem? expenseitem;

    [SupplyParameterFromQuery]
    private string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        expenseitem = await context.ExpenseItems.FirstOrDefaultAsync(m => m.Id == Id);

        if (expenseitem is null)
        {
            NavigationManager.NotFound();
        }
    }
}
